<h1 class="center">Onboarding Application</h1>
<div class="half-hr">
   <hr/>
 </div>

<div class="center">
  <%= form_for(:merchant_account_params, url: {action: "create"}, :html => {class: "center", role: "form"}) do |f| %>
    <div class="center">
      <%= f.label "submerchant ID" %><br/>
      <%= f.text_field :id, class: "onboard-form" %>
    </div>

    <h3>Personal Info</h3>
    <div class="half-hr">
      <hr/>
    </div>

    <div class="center">
      <%= f.label "first name" %><br/>
      <%= f.text_field :first_name, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "last name" %><br/>
      <%= f.text_field :last_name, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "email" %><br/>
      <%= f.text_field :email, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "phone number" %><br/>
      <%= f.text_field :phone, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "date of birth" %><br/>
      <%= f.text_field :date_of_birth, class: "onboard-form" %>
    </div>
    <div class="center">
      <%= f.label "social" %><br/>
      <%= f.text_field :ssn, class: "onboard-form" %>
    </div>

    <h3 class="center">Address</h3>
    <div class="half-hr">
      <hr/>
    </div>

    <div class="center">
      <%= f.label "street address" %><br/>
      <%= f.text_field :street_address, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "locality" %><br/>
      <%= f.text_field :locality, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "region" %><br/>
      <%= f.text_field :region, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "postal code" %><br/>
      <%= f.text_field :postal_code, class: "onboard-form" %>
    </div>

    <h3>Business Info</h3>
    <div class="half-hr">
      <hr/>
    </div>

    <div class="center">
      <%= f.label "legal name" %><br/>
      <%= f.text_field :legal_name, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "DBA name" %><br/>
      <%= f.text_field :dba_name, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "tax ID" %><br/>
      <%= f.text_field :tax_id, class: "onboard-form" %>
    </div>

    <h5>Business Address</h5>
    <div class="half-hr">
      <hr/>
    </div>

    <div class="center">
      <%= f.label "street address" %><br/>
      <%= f.text_field :business_street, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "locality" %><br/>
      <%= f.text_field :business_locality, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "region" %><br/>
      <%= f.text_field :business_region, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "postal code" %><br/>
      <%= f.text_field :business_postal_code, class: "onboard-form" %>
    </div>

    <h3>Funding Information</h3>
    <div class="half-hr">
      <hr/>
    </div>

    <div class="center">
      <%= f.label "descriptor" %><br/>
      <%= f.text_field :descriptor, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "account number" %><br/>
      <%= f.text_field :account_number, class: "onboard-form" %>
    </div>

    <div class="center">
      <%= f.label "routing number" %><br/>
      <%= f.text_field :routing_number, class: "onboard-form" %>
    </div>
    <br/>
    <div class="center">
      <%= f.label "Do you accept the Terms of Service?" %>
      <%= f.check_box :tos %>


    </div>


    <%= f.submit "Submit Sub-merchant Application", class: "btn-gold" %>
  <% end %>
</div>
<script src="https://js.braintreegateway.com/web/3.18.0/js/client.min.js"></script>
