<div class="center">
  <h1>Transaction ID: <%= @transaction.id %></h1>
  <p>Transaction Amount: $<%= @transaction.amount %></p>
  <p>Transaction Status:<%= @transaction.status %></p>
  <p>Sub-merchant Delivering Pizza: <%= @transaction.merchant_account_id %> </p>
  <p>Sub-merchant Service Fee for Delivery: $<%= @transaction.service_fee_amount %> </p>
</div>
